<form name="form1" method="post" accept-charset="UTF-8" action='/login'>
	<input type="hidden"  name="openid_identifier" 			
				 value="https://www.google.com/accounts/o8/id"/> 
	<input type="image" src="/static/google-logo.png" alt="Submit" width="200" height="80"/>
</form>
<script language="JavaScript">
document.form1.submit();
</script>